@font-face {
    font-family: 'Poppins-Regular';
    src: url('../css/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../css/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../css/fonts/Poppins-Light.ttf');
}

body {
    background-color: #222222;
    color: #ffffff;
    font-family: 'Poppins-Regular';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}   

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f3b834;
    transition: 0.3s all;
}

#icons {
    width: 25px;
    display: inline-block;
}

#inscreva-se-btn {
    border: 2px solid #f3b834;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover {
    background-color: #f3b834;
    color: #ffffff;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: 'Poppins-Medium';
}

span {
    color: #f3b834;
}

p {
    line-height: 20px;
    font-family: 'Poppins-Light';
}

img {
    width: 580px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]:hover {
    cursor: pointer;
    height: 50px;
    width: 150px;
    background-color: #f3b834;
    color: #ffffff;
    font-weight: bold;
}

form [type="submit"] {
    height: 50px;
    width: 150px;
    background-color: #f3b834;
    color: #ffffff;
    font-weight: bold;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}